<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario - Vet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-yohan.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/icon.png') }}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
   <main class="medioRegistro">
     <div class="container">
        <header class="medio">
            <img src="{{ url_for('static', filename='imagenes/logo.png') }}" alt="Logo de la Veterinaria">
            <h1>Registro de usuario</h1>
        </header>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form id="registroForm" class="formulario" method="POST" action="{{ url_for('u_registrousuario') }}">
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="nombre">Nombres</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="form-group col-6">
                    <label for="apellido">Apellidos</label>
                    <input type="text" id="apellido" name="apellido" required>
                </div>
                <div class="form-group col-6">
                    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
                </div>
                <div class="form-group col-6">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" id="telefono" name="telefono" required>
                </div>
                <div class="form-group col-6">
                    <label for="sexo">Sexo</label>
                    <select id="sexo" name="sexo" required>
                        <option value="">Selecciona</option>
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="mascota">Mascota</label>
                    <select id="mascota" name="mascota" required>
                        <option value="">Selecciona</option>
                        <option value="perro">Perro</option>
                        <option value="gato">Gato</option>
                        <option value="conejo">Conejo</option>
                        <option value="roedores">Roedores</option>
                        <option value="aves">Aves</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="correo">Correo electrónico</label>
                    <input type="email" id="correo" name="correo" required>
                </div>
                <div class="form-group col-6">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" id="contraseña" name="contraseña" required>
                </div>
                <div class="form-group col-6">
                    <label for="verificar_contraseña">Verificar contraseña</label>
                    <input type="password" id="verificar_contraseña" name="verificar_contraseña" required>
                </div>
            </div>
            <div class="form-group">
                <button type="submit">Continuar</button>
            </div>
            <div class="form-group">
                <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Ingresa aquí</a></p>
            </div>
        </form>
        
    </div>
   </main>
</body>
</html>