
/* HECHO POR TIARA */

/* Perfil hecho por Tiara */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Centrado vertical y horizontal */
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    max-width: 500px; 
    max-height: 80vh; 
}

.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.cerrar-modal:hover,
.cerrar-modal:focus {
    color: #000;
    text-decoration: none;
}

.perfil-container {
    padding: 30px;
    text-align: center; 
}

.perfil-foto-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 0 auto 20px; 
}

.perfil-foto-container img {
    width: 100%;
    height: auto;
}

.perfil-info {
    margin-bottom: 20px;
}

.perfil-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
}

.perfil-info p {
    font-size: 16px;
    margin-bottom: 8px;
    color: #666666;
}

.accion .cambiar-foto {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.accion {
    text-align: center;
    margin-top: 20px;
}

.accion input {
    display: none; /* Ocultar el input file */
}

.accion label,
.accion .boton-cs-perfil {
    display: inline-block;
    padding: 12px 25px;
    background-color: #193A6A;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 10px; /* Espaciado entre los elementos */
    text-align: center;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.accion label:hover,
.accion .boton-cs-perfil:hover {
    background-color: #0056b3;
}


.accion .boton-cs-perfil {
    background-color: #193A6A;
} 

/* estilo del header */

:root{
    --color-barra-lateral:#fff;
    --color-texto:#000;
    --color-texto-menu:rgb(134, 136, 144);
    --color-boton:#000;
    --color-boton-texto:rgb(225, 225, 225);
    --color-menu-hover:rgb(238, 238, 238);
    --color-menu-hover-texto:rgb(0,0,0);
    --color-linea:rgb(180,180,180);
    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    height: 100vh;
    width: 100%;
}

.menu {
    position: fixed;
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #193A6A;
    right:15px;
    top:15px;
    z-index: 100;
}

.menu img {
    
    width: 30px;
    height: auto;
}

.barra-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    color: #000;
    position: fixed;
    transition: width 0.5s ease, left 0.5s ease;
    z-index: 50;
}

.mini-barra-lateral {
    width: 80px;
}

.barra-lateral span {
    width: 100px;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    white-space: nowrap; /* Evita que el texto se quiebre */
}

.barra-lateral span.oculto {
    opacity: 0;
    width: 0;
    overflow: hidden; /* Oculta el texto */
}

.barra-lateral .logo-pagina {
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.barra-lateral .logo-pagina img {
    min-width: 50px;
    max-width: 50px;
    cursor: pointer;
}

.barra-lateral .logo-pagina span {
    margin-left: 5px;
    font-size: 25px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.boton-cita {
  cursor: pointer; 
  transition: all 0.5s ease; 
}

.boton-cita:hover {
    transform: translateY(-4px);;
}


/* Para que no se vea el texto */
.barra-lateral .boton-cita {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color:#fff;
}

.barra-lateral .boton-cita img {
    width: 15px;
    height: auto;
    min-width: 20px;
    max-width: 50px;
    margin-right: 5px; /* Espacio entre img y span */
}

.barra-lateral .navegacion {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

/* Para personalizar scroll */
.barra-lateral .navegacion::-webkit-scrollbar {
    width: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll);
    border-radius: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scroll-hover);
}

.barra-lateral .navegacion li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.barra-lateral .navegacion a {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--color-barra-lateral);
    color: var(--color-texto-menu);
    padding: 0 10px;
}

.barra-lateral .navegacion a:hover {
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.barra-lateral .navegacion img {
    width: 15px;
    height: auto;
    min-width: 20px;
    max-width: 50px;
    margin-right: 10px;
}

.barra-lateral .linea {
    width: 100%;
    height: 1px;
    background-color: var(--color-linea);
}

.barra-lateral .usuario {
    width: 100%;
    display: flex;
}

.barra-lateral .usuario img {
    width: 40px;
    height: 50px;
    min-width: 50px;
    border-radius: 20%;
    margin-top: 10px;
}


.barra-lateral .usuario a {
    display: flex; 
    align-items: center; 
    text-decoration: none; 
}


.barra-lateral .usuario .info-usuario {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}

.barra-lateral .usuario .nombre-email {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.barra-lateral .usuario .nombre {
    font-size: 15px;
    font-weight: 600;
}

.barra-lateral .usuario .email {
    font-size: 13px;
}

.nombre-email {
    display: flex; 
    flex-direction: column; 
    margin-left: 10px; 
}

main {
    margin-left: 250px;
    padding: 30px;
    transition: margin-left 0.5s ease;
    background-color: #f9f9f9; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

main.min-main {
    margin-left: 80px;
}
/* fin de estilos de header - Tiara */






/* HECHO POR LAURA- FORMULARIO */
    

.texto2 .h2 {
    color: #193A6A;
    font-size: 3em;
    margin-top: 20;
    text-align: center;
}

.texto2 .p2 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
    margin: 10px 0;
}





label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


.form-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select.form-input {
  background-size: 18px 18px;
  padding-right: 40px;
}

.mss {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-height: 150px;
}

.ancho {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #193A6A;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}





.anchoE{
    display: block;
  width: 100%;
  padding: 10px;
  background-color: #193A6A;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;

}





 /* ADOCCION */
 /* LAURA C. */


/* ANUNCIO DE LA ADPCION */

.adopt-container {
    text-align: center;/* centrar el texto */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.texto .h1 {
    color: #193A6A;
    font-size: 3em;
    margin-top: 20;
}

.texto .p {
    color: #333;
    font-size: 1.5em;
    margin: 10px 0;
}


/* CUERPO O FONDO */
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8FF;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 1rem;
}


.padre {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.hijo {
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    display: flex;
    width: 16rem;
    height: 29rem;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}

.hijo__preview img {
    width: 100%;
    height: 85%;
}
.hijo__preview1 img {
    width: 100%;
    height: 90%;
}
.hijo__preview2 img {
    width: 100%;
    height: 95%;
}
.hijo__preview3 img {
    width: 100%;
    height: 90%;
}




.hijo__content {
    padding: 1.25rem;
    font-size: 15px;
    margin-top: -75px;
}
.hijo__content1 {
    padding: 1.25rem;
    font-size: 15px;
    margin-top: -65px;
}
.hijo__content2 {
    padding: 1.25rem;
    font-size: 15px;
    margin-top: -50px;
}
.hijo__content3 {
    padding: 1.25rem;
    font-size: 15px;
    margin-top: -65px;
}


.hijo__title{
    font-size: 20px;
    margin-right: 140px;
    color: #193A6A;
    margin-top: 25px;
}

.hijo__descrip {
    
    margin-top: 0.5rem;
    margin-bottom: 20px;
    max-height: 60px ;  
     
}

.whatsapp-icon {
    display: flex;
    justify-content: flex-end;
}


.whatsapp-icon img {
    width: 50px; 
    border-radius: 200px;
    margin-right: -10px; /* Espacio entre el ícono y el borde derecho */
    /* margin-top: 10px; */
}

.whatsapp-icon1 {
    display: flex;
    justify-content: flex-end;
}
.whatsapp-icon1 img {
    width: 50px; 
    border-radius: 200px;
    margin-right: -10px; /* Espacio entre el ícono y el borde derecho */
    /* margin-top: 20px; */
}



/* media queries del header */

  @media (max-height: 600px) {
    .barra-lateral .logo-pagina {
        margin-bottom: 5px;
    }
}

@media (max-width: 600px) {
    .barra-lateral {
        position: fixed;
        left: -250px;
    }

    .max-barra-lateral {
        left: 0;
    }

    .menu {
        display: flex;
    }

    main {
        margin-left: 0;
        padding: 20px; /* Ajuste del padding para pantallas pequeñas */
    }

    main.min-main {
        margin-left: 0;
    }

    .servicio-contenedor {
        margin-left: 0; /* Ajuste del margen para pantallas pequeñas */
    }
}



/* FORMULARIO DE AGENDAR CITA */

@media (max-width: 600px) {
.texto2 .h2 {
    color: #193A6A;
    font-size: 2.40em;
    margin-top: 20;
    text-align: center;
}

.texto2 .p2 {
    text-align: center;
    color: #333;
    font-size: 1.10em;
    margin: 10px 0;
}

}