<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Agenda fácilmente citas para el cuidado de tus mascotas en PetVet. Ofrecemos un proceso simple y eficiente para proporcionar la mejor atención veterinaria a tus animales. Confía en nosotros para simplificar el cuidado de tus seres queridos.">
    <title>Sistema del administrador</title>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stilos_tiara.css') }}">
</head>
<body class="body-admin">

<header class="alto-admi">
    <div>
        <figure><img src="{{ url_for('static', filename='imagenes/logo.png') }}" class="logo" alt="Logo petvet" title="Logo"></figure>
    </div>

    <div class="bajo-header">
        <div class="text-pag-b">
            <h1>Panel de Administrador</h1>
        </div>

        <div class="con-botones">
            <a href="/admin/">
                <figure class="icons"><img class="botones" src="{{ url_for('static', filename='imagenes/a-home.png') }}" alt="Inicio" title="Inicio"></figure>
            </a>

            <a href="/">
                <figure class="icons"><img class="botones" src="{{ url_for('static', filename='imagenes/a-saalir.png') }}" alt="Cerrar Sesion" title="Cerrar Sesion"></figure>
            </a>
        </div>
    </div>
</header>

<main class="galeria">
    <div class="admin-cuerpo">
        <a href="/admin/citas/agendada/">
            <figure><img src="{{ url_for('static', filename='imagenes/admi-agenda.png') }}" alt="Agenda de Cita" class="imagen-admin" title="Agenda de citas"></figure>
            <h3 class="h3-admi">Citas pendientes</h3>
        </a>
    </div>

    <div class="admin-cuerpo">
         <a href="/admin/servicios/">
            <figure><img src="{{ url_for('static', filename='imagenes/servicios.jpg') }}" alt="Servicios" class="imagen-admin" title="Servicios"></figure>
            <h3 class="h3-admi h3-modida">A Domicilio </h3>
        </a>
    </div>

    <div class="admin-cuerpo">
        <a href="/admin/agenda/citas/">
            <figure><img src="{{ url_for('static', filename='imagenes/1.jpg') }}" alt="Guardería" class="imagen-admin" title="Guardería"></figure>
            <h3 class="h3-admi">Guardería</h3>
        </a>
    </div>
                                                                                 
    <div class="admin-cuerpo">
        <a href="/admin/adopcion/">
            <figure><img src="{{ url_for('static', filename='imagenes/adopcion.png') }}" alt="Adopción" class="imagen-admin" title="Adopción"></figure>
            <h3 class="h3-admi">Adopción</h3>
        </a>
    </div>
</main>

</body>
</html>
