<!-- HECHA POR YOHAN -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios pendientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stilos_tiara.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/icon.png') }}">
</head>
<body class="body-admin">
    <header class="alto-admi">
        <div>
            <figure>
                <img src="{{ url_for('static', filename='imagenes/logo.png') }}" class="logo" alt="Logo petvet" title="Logo">
            </figure>
        </div>
        <div class="bajo-header">
            <div class="text-pag-b">
                <h1>Servicios pendientes -Administrador</h1>
            </div>
            <div class="con-botones">
                <a href="{{ url_for('admin.servicio') }}">
                    <figure class="icons">
                        <img class="botones salida" src="{{ url_for('static', filename='imagenes/atrasAdmin.png') }}" alt="Inicio" title="Inicio">
                    </figure>
                </a>
                <a href="{{ url_for('admin.administrador') }}">
                    <figure class="icons">
                        <img class="botones" src="{{ url_for('static', filename='imagenes/a-home.png') }}" alt="Inicio" title="Inicio">
                    </figure>
                </a>
                <a href="#">
                    <figure class="icons">
                        <img class="botones" src="{{ url_for('static', filename='imagenes/a-saalir.png') }}" alt="Cerrar Sesion" title="Cerrar Sesion">
                    </figure>
                </a>
            </div>
        </div>
    </header>
    <main class="main-despligue">
        <div class="conten-despligue">
            <div class="Cita-pendiente">
                <h1 class="pendiente">Cita Pendiente</h1>
            </div>
            <div class="conten-lista-desplie">
                <ul class="ul-despliegue">
                    <li class="encabeza">Nombre:</li>
                    <li class="conten-encabeza">Maria</li>
                    <li class="encabeza">Correo:</li>
                    <li class="conten-encabeza">Mariaperez12@gmail.com</li>
                    <li class="encabeza">Fecha:</li>
                    <li class="conten-encabeza">10/12/2024</li>
                    <li class="encabeza">Servicio:</li>
                    <li class="conten-encabeza">Higiene</li>
                    <li class="encabeza">Dirección:</li>
                    <li class="conten-encabeza dire">Los prados calle 17 casa numero 10 santiago de los caballeros</li>
                </ul>
                <ul class="ul-despliegue">
                    <li class="encabeza">Apellido:</li>
                    <li class="conten-encabeza">Perez</li>
                    <li class="encabeza">Teléfono:</li>
                    <li class="conten-encabeza">849-234-4354</li>
                    <li class="encabeza">Elige turno:</li>
                    <li class="conten-encabeza">Tarde</li>
                    <li class="encabeza">Tipo de mascota:</li>
                    <li class="conten-encabeza">Perro</li>
                    <li class="encabeza">Total a cobrar:</li>
                    <li class="conten-encabeza">0</li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>
