<!-- HECHA POR YOHAN -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas pendientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stilos_tiara.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/icon.png') }}">
</head>
<body class="body-admin">
    <header class="alto-admi">
        <div>
            <figure>
                <img src="{{ url_for('static', filename='imagenes/logo.png') }}" class="logo" alt="Logo petvet" title="Logo">
            </figure>
        </div>
        <div class="bajo-header">
            <div class="text-pag-b">
                <h1>Citas pendientes- Administrador</h1>
            </div>
            <div class="con-botones">
                <a href="{{ url_for('admin.citas_agendada') }}">
                    <figure class="icons">
                        <img class="botones salida" src="{{ url_for('static', filename='imagenes/atrasAdmin.png') }}" alt="Inicio" title="Inicio">
                    </figure>
                </a>
                <a href="{{ url_for('admin.administrador') }}">
                    <figure class="icons">
                        <img class="botones" src="{{ url_for('static', filename='imagenes/a-home.png') }}" alt="Inicio" title="Inicio">
                    </figure>
                </a>
                <a href="#">
                    <figure class="icons">
                        <img class="botones" src="{{ url_for('static', filename='imagenes/a-saalir.png') }}" alt="Cerrar Sesion" title="Cerrar Sesion">
                    </figure>
                </a>
            </div>
        </div>
    </header>
    <main class="main-despligue">
        <div class="conten-despligue">
            <div class="Cita-pendiente">
                <h1 class="pendiente">Cita Pendiente</h1>
            </div>
            <div class="conten-lista-desplie">
                <ul class="ul-despliegue">
                    <li class="encabeza">Nombre:</li>
                    <li class="conten-encabeza">Maria</li>
                    <li class="encabeza">Correo:</li>
                    <li class="conten-encabeza">Mariaperez12@gmail.com</li>
                    <li class="encabeza">Fecha:</li>
                    <li class="conten-encabeza">10/12/2024</li>
                    <li class="encabeza">Tipo de mascota:</li>
                    <li class="conten-encabeza">Perro</li>
                </ul>
                <ul class="ul-despliegue">
                    <li class="encabeza">Apellido:</li>
                    <li class="conten-encabeza">Perez</li>
                    <li class="encabeza">Teléfono:</li>
                    <li class="conten-encabeza">849-234-4354</li>
                    <li class="encabeza">Elige turno:</li>
                    <li class="conten-encabeza">Tarde</li>
                </ul>
                <ul class="servicios-ul">
                    <li class="center-servicios">Servicios</li>
                    <div class="servi-div">
                        <li class="conten-encabeza li-servi">Higiene para Mascotas</li>
                        <li class="conten-encabeza li-servi">Chequeo General</li>
                        <li class="conten-encabeza li-servi">Vacunación y Medicación</li>
                    </div>
                </ul>
            </div>
            <div class="conten-descripcion">
                <h2 class="h2-descripcion">Descripción</h2>
                <p class="descripcion">Mi perro está muy sucio y quiero hacerle un baño completo, y cortarle las uñas.</p>
            </div>
        </div>
    </main>
</body>
</html>
